body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FDFFFC;
}

.movie-card {
  color: #2F6690;
  border-radius: 20px;
  background-color: #AFC1D4;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin: 1rem auto;
}

.movie-list a {
  text-decoration: none;
  color: #2F6690;
}

.saved-list {
  background-color: #fff;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}

.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}

.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}

.save-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: lightseagreen;
}

.save-button:hover {
  background-color: green;
  color: white;
}

.home-button {
  padding: 5px 10px;
  background-color: lightskyblue;
}

.movie-warning {
  color: red;
  text-align: center;
}

.edit-form {
  color: #2F6690;
  background-color: #AFC1D4;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin: 1rem auto;
  width: 40%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-form input {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  width: 35%;
  color: #2F6690;
  background-color: mintcream;
  font-weight: bolder;
}

.edit-form label {
  padding: 5px;
  font-size: 1.5rem;
}

.edit-button {
  position: absolute;
  top: 59px;
  right: 25px;
  border: 1px solid black;
  padding: 6px 17px;
  color: mintcream;
  background-color: orange;
}

.edit-button:hover {
  background-color: purple;
  color: lightpink;
}

.update-button {
  color: mintcream;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: lightseagreen;
  border: 1px solid gray;
}

.delete-button {
  position: absolute;
  top: 91px;
  right: 25px;
  border: 1px solid black;
  padding: 6px 17px;
  color: mintcream;
  background-color: red;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieBox {
  width: 32%;
  min-height: 250px;
  margin: 1%;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  background: #00aced;
}

.navigation a {
  margin: 20px 40px;
  text-decoration: none;
  color: #FFF;
  font-size: 1.4rem;
  font-weight: bold;
}